.main-div {
  position: relative;
  margin: 100px;
  top: 180px;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
}

.input-text {
  padding: 5px;
  width: 200px;
}

.btn {
  background-color: #1a73e8;
  border: 1px solid #1a73e8;
  border-radius: 3px;
  color: white;
  height: 35px;
  margin: 10px;
  width: 100px;
  cursor: pointer;
}

.error{
    color: red;
}